{% extends 'base.html' %}

{% block title %}Delete Category{% endblock title %}

{% block content %}
<!--  <p class="lead"><a href="{% url 'category_list' %}"><- back All Categories</a></p>-->
<!--  <p class="lead"><a href="{% url 'category_detail' category.pk %}"><- back</a></p>-->
  <div class="text-center py-5 px-3">
<!--    <h1>You cannot delete the "{{ category.technology }}" category,-->
    <h1>You cannot delete a category,
        because you must first delete all projects with this category!
    </h1>
  </div>
{% endblock content %}
