{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div><h5>Choose a project for yourself and implement it! Good luck!</h5></div>
<div class="table-responsive">
  <table class="table table-dark table-borderless table-striped table-hover table-sm">
    <caption>List of projects</caption>
    <thead>
      <tr>
        <th scope="col">Project description</th>
        <th scope="col">Rating</th>
        <th scope="col">Date of last comment</th>
      </tr>
    </thead>
    <tbody>
      {% for project in object_list %}
        <tr>
          <td class="d-inline-block text-truncate" style="max-width: 200px;">
            <a href="{% url 'forum_list' project.pk %}">{{ project.description }} ({{ project.category }})</a>
          </td>
          <td>
            <a href="{% url 'rating_new' project.pk %}">{{ project.stars }}</a>
          </td>
          <td>{{ project.created_at_comment }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'project_new' %}">+ New Project</a>
</div>
{% endblock content %}
